.loader {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #ffffff 50%, rgba(249, 211, 180) 100%);
  animation: spin 1s linear infinite;
  margin-top: 1rem;
}

.inner-circle {
  width: 80%;
  height: 80%;
  background-color: var(--bg-color);
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}